{% extends 'musicos/base.html' %}
{% load static %}
{% block container %}
<a 
    class="text-center btn-hightlight box-shadow hover round-border" 
    ref="{% url 'musicos:registro_usuario_musico' %}">Eres Músico ÚNETENOS</a>
<h2 class="title title--align-center">Encuentra tu artista ideal facilmente</h2>
    <form method="post" action="#" class="text-center filters--form__fontsize">
        {% csrf_token %}
        <label for="name">Buscalo por nombre</label>
        <div class="filter--row d-flex jcont-center">
            <input id="name" class="input" type="text" name="nombre"
                   placeholder="Nombre músico">
                   <button class="pure-button pure-button-primary">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </button>
        </div>
    </form>
    <h3 class="title title--align-center">Por el género</h3>

    <section class="home-category">

    {% for tipo_musico in tipos_musicos %}

        <a href="" class="thumb home-category__item" title="{{ tipo_musico }}">
            <p class="home-category__title">{{ tipo_musico }}</p>
        </a>
    {% endfor %}
    </section>
    <h3 class="title title--align-center">Artistas destacados</h3>

    <section class="important-bands">
        {% for musico in musicos %}
        {% include 'musicos/item_musico.html' with musico=musico %}
        {% endfor %}
    </section>

{% endblock %}